.DS_Store

# dotnet core
bin/
obj/
project.lock.json
NuGetScratch/

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
build/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/
**/react-app-env.d.ts

# testing
compiledTests/

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map

# IDE
.idea/
.vs/
.vscode/

# deployment
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.user
dotnet-tools.json