.profile-info {
    color: #7B7B7B;
    font: 400 12px/16px 'Segoe UI';
    opacity: 1;
    padding: 0;
}

.username {
    color: #4A4A4A;
    font: 700 16px/21px 'Segoe UI';
    letter-spacing: 0;
    opacity: 1;
}
